doctype html
html
  head
    title Fly Maintenance
    link(href='css/application.min.css', rel='stylesheet')
    link(rel="stylesheet", href="css/style.css")
    link(rel='shortcut icon', href='img/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(charset='utf-8')
  body.background-dark
    .logo
      h4
        a(href='/')
          | Fly 
          strong Maintenance
    
    //- menu (common structure)
    include page-menu.jade

    .wrap
      //- top header (common structure)
      include page-header.jade

      .content.container
        .row
          .col-md-6
            section.widget
              header
                h4
                  i.fa.fa-align-left
                    &nbsp; Новый самолет
              .body
                form.form-horizontal(method='POST', action='/admin_add_plane')
                  fieldset
                    legend.section Добавление нового самолета в базу данных
                    .control-group
                      label.control-label(for='normal-field') Название самолета
                      .controls.form-group
                        .col-sm-8
                          input#normal-field.form-control(type='text', name='pl_name', placeholder='IL-2 Sturmovik')
                    .control-group
                      label.control-label(for='normal-field') Бортовой номер
                      .controls.form-group
                        .col-sm-8
                          input#normal-field.form-control(type='text', name='pl_number', placeholder='2376343')
                    .control-group
                      label.control-label(for='tooltip-enabled') Дата создания
                      .controls.form-group
                        .col-sm-8
                          input#tooltip-enabled.form-control(type='text', name='cr_date', data-placement='top', data-original-title='ГГГГ - ММ - ДД', placeholder='1942-02-13')
                    .control-group
                      label.control-label(for='tooltip-enabled') Последняя проверка
                      .controls.form-group
                        .col-sm-8
                          input#tooltip-enabled.form-control(type='text', name='pl_l_upd', data-placement='top', data-original-title='ГГГГ - ММ - ДД', placeholder='1942-02-13')
                    .control-group
                      label.control-label(for='appended-input') Пробег
                      .controls.form-group
                        .input-group.col-sm-8
                          input#appended-input.form-control(name='a_time', size='16', type='text')
                          span.input-group-addon час
                    .control-group
                      label.control-label(for='appended-input') Кол-во посадок
                      .controls.form-group
                        .input-group.col-sm-8
                          input#appended-input.form-control(name='l_count', size='16', type='text')
                          span.input-group-addon раз
                  .form-actions
                    div
                      button.btn.btn-primary(type='submit') Добавить новый
                      a.btn.btn-default(href="/planes") Отмена

          
      .loader-wrap.hiding.hide
        i.fa.fa-spinner.fa-spin
        
    // jquery and friends
    script(src='lib/jquery/jquery-2.0.3.min.js')
    script(src='lib/jquery-pjax/jquery.pjax.js')
    // jquery plugins
    script(src='lib/jquery-maskedinput/jquery.maskedinput.js')
    script(src='lib/parsley/parsley.js')
    script(src='lib/icheck.js/jquery.icheck.js')
    script(src='lib/select2.js')
    script(src='lib/jquery.dataTables.min.js')
    // backbone and friends
    script(src='lib/backbone/underscore-min.js')
    script(src='lib/backbone/backbone-min.js')
    script(src='lib/backbone/backbone-pageable.js')
    script(src='lib/backgrid/backgrid.js')
    script(src='lib/backgrid/backgrid-paginator.js')
    // bootstrap default plugins
    script(src='lib/bootstrap/transition.js')
    script(src='lib/bootstrap/collapse.js')
    script(src='lib/bootstrap/alert.js')
    script(src='lib/bootstrap/tooltip.js')
    script(src='lib/bootstrap/popover.js')
    script(src='lib/bootstrap/button.js')
    script(src='lib/bootstrap/dropdown.js')
    script(src='lib/bootstrap/modal.js')
    script(src='lib/bootstrap/tab.js')
    // basic application js
    script(src='js/app.js')
    script(src='js/settings.js')
    // page-specific js
    script(src='js/tables-dynamic.js')

    script#settings-template(type='text/template').
      <div class="setting clearfix">
      <div>Background</div>
      <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% dark = background == 'dark'; light = background == 'light';%>
      <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
      <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar on the</div>
      <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% onRight = sidebar == 'right'%>
      <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
      <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar</div>
      <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% display = displaySidebar%>
      <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
      <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
      </div>
      </div>
    script#sidebar-settings-template(type='text/template').
      <% auto = sidebarState == 'auto'%>
      <% if (auto) {%>
      <button type="button"
      data-value="icons"
      class="btn-icons btn btn-transparent btn-sm">Icons</button>
      <button type="button"
      data-value="auto"
      class="btn-auto btn btn-transparent btn-sm">Auto</button>
      <%} else {%>
      <button type="button"
      data-value="auto"
      class="btn btn-transparent btn-sm">Auto</button>
      <% } %>
