doctype html
html
  head
    title Fly Maintenance
    link(href='css/application.min.css', rel='stylesheet')
    link(rel="stylesheet", href="css/style.css")
    link(rel='shortcut icon', href='img/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(charset='utf-8')
  body.background-dark
    .logo
      h4
        a(href='/')
          | Fly 
          strong Maintenance
    
    //- menu (common structure)
    include page-menu.jade

    .wrap
      //- top header (common structure)
      include page-header.jade

      .content.container
        .row
          .col-md-6
            section.widget
              header
                h4
                  i.fa.fa-align-left
                    &nbsp; Новый пользователь
              .body
                form.form-horizontal(method='POST', action='/add_user')
                  fieldset
                    legend.section Добавить нового пользователя
                    .control-group
                      label.control-label(for='normal-field') Имя
                      .controls.form-group
                        .col-sm-8
                          input#normal-field.form-control(type='text', name='Uname', placeholder='Ivan')
                    .control-group
                      label.control-label(for='normal-field2') Фамилия
                      .controls.form-group
                        .col-sm-8
                          input#normal-field2.form-control(type='text', name='surname', placeholder='Ivanov')
                    .control-group
                      label.control-label(for='id')
                        | Роль
                      .controls.form-group
                        .col-sm-8
                            select#country.select-block-level.chzn-select(required='required', data-placeholder='', tabindex='-1', name='role')
                              option(value='')
                              option(value='Admin') Admin
                              option(value='User') user
                    .control-group
                      label.control-label(for='tooltip-enabled') Email
                      .controls.form-group
                        .col-sm-8
                          input#tooltip-enabled.form-control(type='text', name='email', data-placement='top', data-original-title='Введите Email', placeholder='example@yandex.ru')
                    .control-group
                      label.control-label(for='pass') Пароль
                      .controls.form-group
                        .col-sm-8
                          input#pass.form-control(type='pass', name='pass')
                  .form-actions
                    div
                      button.btn.btn-primary(type='submit') Добавить
                      button.btn.btn-default(type='button') Отмена
          .col-md-6
            section.widget
              header
                h4
                  i.fa.fa-align-left
                    &nbsp; Редактировать существующего
              .body
                form.form-horizontal(method='POST', action='/red_user')
                  fieldset
                    legend.section Изменить существующего пользователя этой системы
                    .control-group
                      label.control-label(for='id')
                        | id
                      .controls.form-group
                        .col-sm-8
                            select#country.select-block-level.chzn-select(required='required', data-placeholder='', tabindex='-1', name='id')
                              option(value='')
                              for user in users
                                option(value='#{user.user_id}') #{user.user_id} &nbsp; #{user.user_email}
                    .control-group
                      label.control-label(for='normal-field') Имя
                      .controls.form-group
                        .col-sm-8
                          input#normal-field.form-control(type='text', name='Uname', placeholder='Ivan')
                    .control-group
                      label.control-label(for='normal-field') Фамилия
                      .controls.form-group
                        .col-sm-8
                          input#normal-field.form-control(type='text', name='surname', placeholder='Ivanov')
                    .control-group
                      label.control-label(for='country')
                        | Роль
                      .controls.form-group
                        .col-sm-8
                            select#country.select-block-level.chzn-select(required='required', data-placeholder='', tabindex='-1', name='role')
                              option(value='')
                              option(value='admin') Админ
                              option(value='user') пользователь
                    .control-group
                      label.control-label(for='tooltip-enabled') Email
                      .controls.form-group
                        .col-sm-8
                          input#tooltip-enabled.form-control(type='text', name='email', data-placement='top', data-original-title='Введите Email', placeholder='example@yandex.ru')
                  .form-actions
                    div
                      button.btn.btn-primary(type='submit') Редактировать
                      button.btn.btn-default(type='button') Отмена

          
      .loader-wrap.hiding.hide
        i.fa.fa-spinner.fa-spin
    // jquery and friends
    script(src='lib/jquery/jquery-2.0.3.min.js')
    script(src='lib/jquery-pjax/jquery.pjax.js')
    // jquery plugins
    script(src='lib/jquery-maskedinput/jquery.maskedinput.js')
    script(src='lib/parsley/parsley.js')
    script(src='lib/icheck.js/jquery.icheck.js')
    script(src='lib/select2.js')
    script(src='lib/jquery.dataTables.min.js')
    // backbone and friends
    script(src='lib/backbone/underscore-min.js')
    script(src='lib/backbone/backbone-min.js')
    script(src='lib/backbone/backbone-pageable.js')
    script(src='lib/backgrid/backgrid.js')
    script(src='lib/backgrid/backgrid-paginator.js')
    // bootstrap default plugins
    script(src='lib/bootstrap/transition.js')
    script(src='lib/bootstrap/collapse.js')
    script(src='lib/bootstrap/alert.js')
    script(src='lib/bootstrap/tooltip.js')
    script(src='lib/bootstrap/popover.js')
    script(src='lib/bootstrap/button.js')
    script(src='lib/bootstrap/dropdown.js')
    script(src='lib/bootstrap/modal.js')
    script(src='lib/bootstrap/tab.js')
    // basic application js
    script(src='js/app.js')
    script(src='js/settings.js')

    // page specific
    script(src='js/forms-elemets.js')

    script#settings-template(type='text/template').
      <div class="setting clearfix">
      <div>Background</div>
      <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% dark = background == 'dark'; light = background == 'light';%>
      <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
      <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar on the</div>
      <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% onRight = sidebar == 'right'%>
      <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
      <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar</div>
      <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% display = displaySidebar%>
      <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
      <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
      </div>
      </div>
    script#sidebar-settings-template(type='text/template').
      <% auto = sidebarState == 'auto'%>
      <% if (auto) {%>
      <button type="button"
      data-value="icons"
      class="btn-icons btn btn-transparent btn-sm">Icons</button>
      <button type="button"
      data-value="auto"
      class="btn-auto btn btn-transparent btn-sm">Auto</button>
      <%} else {%>
      <button type="button"
      data-value="auto"
      class="btn btn-transparent btn-sm">Auto</button>
      <% } %>
