!!! 5
html
  head
    title= pageName
    link(rel="stylesheet", href="bower_components/material-design-lite/material.css")
    link(rel="stylesheet", href="css/style.css")
  body
    .db_is_not_conn
      h1 Секретные службы <br> FlightMaintenance CMS
      h2 Включи базу данных MySql, тормоз!
      img(src="https://css-tricks.com/images/404.jpg", alt="https://css-tricks.com/images/404.jpg")

      h2 No Database MySql connection!