doctype html
html
  head
    title Fly Maintenance
    link(href='css/application.min.css', rel='stylesheet')
    link(rel="stylesheet", href="css/style.css")
    link(rel='shortcut icon', href='img/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(charset='utf-8')
  body.background-dark
    .logo
      h4
        a(href='/')
          | Flight 
          strong Maintenance

    //- menu (common structure)
    include page-menu.jade

    .wrap
      //- top header (common structure)
      include page-header.jade

      .content.container
        .row
          .col-md-12.col-md-offset-0
            section.widget
              h1 Добро пожаловать в проект Flight Maintenance!
        .row
          .col-md-12
            section.widget
              header
                h5
                  | Информация по проекту
              .body
                .tabbable.tabs-left
                  ul#myTabLeft.nav.nav-tabs
                    li.active
                      a(href='ui_tabs.html#profile-left', data-toggle='tab') Проект
                    li
                      a(href='ui_tabs.html#dropdown4-left', data-toggle='tab') Дополнительная информация
                  #myTabContentLeft.tab-content
                    #profile-left.tab-pane.fade.in.active
                      p Главная цель практики — познакомиться с отраслью IT и попробовать себя в качестве разработчика. Получить некоторые знания разработки проектов, а также выполнить свою собственную научную работу. Результатом моей работы и является данный проект.                   
                      | <br>Главная идея данного проекта — разработать ресурс, который позволит систематизировать данные и вести их учет на протяжении времени. Если говорить конкретнее — создать ресурс, в котором можно будет хранить все данные летной компании (к примеру данные по самолетам, работникам компании, работникам данного ресурса, технического обслуживания и т.п)<br>
                      | <br>Oсобенностью ресурса является то, что в определенный момент он будет сообщать пользователю, какой самолет необходимо починить или какое техническое обслуживание необходимо провести.
                    #dropdown4-left.tab-pane.fade
                      p Разработка ресурса ведется с помощью следующих языков программирования:<br><br>Clojure – сервер<br>SQL — сервер <br>Jade – клиент<br>CSS – клиент<br>JavaScript – клиент
                      p Также в проекте используется репозиторий GIT (Bitbacket). С историей коммитов вы можете ознакмиться ниже.. =)
          img.col-md-12(src="img/history.jpg")      
                      
          
      .loader-wrap.hiding.hide
        i.fa.fa-spinner.fa-spin
    

    // jquery footer scripts
    include footer__scripts.jade