doctype html
html
  head
    title Fly Maintenance
    link(href='css/application.min.css', rel='stylesheet')
    link(rel='shortcut icon', href='img/favicon.png')
    link(rel="stylesheet", href="css/style.css")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(charset='utf-8')
    script(src='lib/jquery/jquery-2.0.3.min.js')
    script(src='lib/jquery-pjax/jquery.pjax.js')
    // <script src="lib/zepto/zepto.min.js"> </script>
    script(src='lib/parsley/parsley.js')
    script(src='lib/backbone/underscore-min.js')
    script(src='js/settings.js')
  body
    .single-widget-container.error-page
      section.widget.transparent.widget-404
        .body
          .row
            .col-md-5
              h1.text-align-center 404
            .col-md-7
              .description
                h3 Opps, it seems that this page does not exist here.
                p If you are sure it should, search for it.
      section.widget.widget-404-search
        .body.no-margin
          form.form-inline.form-search.no-margin.text-align-center(method='get', action='special_search.html', role='form')
            .input-group
              input.form-control(type='search', placeholder='Pages: Posts, Tags')
              span.input-group-btn
                button.btn.btn-primary(type='submit')
                  | Search
      section.widget.widget-404.button_404
          a(href="/").btn.btn-lg.btn-warning.btn-block На главную
