nav#sidebar.sidebar.nav-collapse.collapse
  ul#side-nav.side-nav
    li.active
      a(href='/')
        i.fa.fa-home
        span.name Главная
    li.panel
      a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#side-nav', href='index.html#forms-collapse')
        i.fa.fa-edit
        span.name Справочники
      ul#forms-collapse.panel-collapse.collapse
        li
          a(href='/peolple-page') Справочник работников
        li
          a(href='planes') Справочник самолетов
        li
          a(href='logs') История логов
    li.panel
      a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#side-nav', href='index.html#stats-collapse')
        i.fa.fa-bar-chart-o
        span.name Статистика
    li.panel
      a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#side-nav', href='index.html#components-collapse')
        i.fa.fa-bookmark-o
        span.name Тех. работы
      ul#components-collapse.panel-collapse.collapse
        li
          a(href="/services") Все сервисы
        li
          a(href='') Каждые 50 часов
        li
          a(href='', data-no-pjax='') Каждые 100 часов
        li
          a(href='') Каждый ХХХ часов
        li
          a(href='') 1 раз в 1 год
        li
          a(href='') 1 раз в 2 года
    li.panel
      a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#side-nav', href='index.html#tables-collapse')
        i.fa.fa-table
        span.name График работ
    li.visible-xs
      a(href='/login')
        i.fa.fa-sign-out
        span.name Sign Out
  #sidebar-settings.settings
    button.btn-icons.btn.btn-transparent.btn-sm(type='button', data-value='icons') Icons
    button.btn-auto.btn.btn-transparent.btn-sm(type='button', data-value='auto') Auto