header.page-header
  .navbar
    ul.nav.navbar-nav.navbar-right.pull-right
      li.visible-phone-landscape
        a#search-toggle(href='#')
          i.fa.fa-search
      li.divider
      li.hidden-xs
        a#settings(href='#', title='Settings', data-toggle='popover', data-placement='bottom')
          i.fa.fa-cog
      li.hidden-xs.dropdown
        a#account.dropdown-toggle(href='#', title='Account', data-toggle='dropdown')
          i.fa.fa-user
        ul#account-menu.dropdown-menu.account(role='menu')
          li.account-picture(role='presentation')
            img(src='img/2.jpg', alt='')
            | Patison5
          li(role='presentation')
            a.link(href='form_account.html')
              i.fa.fa-user
              | Профиль
          li(role='presentation')
            a.link(href='component_calendar.html')
              i.fa.fa-calendar
              | Календарь
          li(role='presentation')
            a.link(href='#')
              i.fa.fa-inbox
              | Входящие
      li.visible-xs
        a.btn-navbar(href='#', data-toggle='collapse', data-target='.sidebar', title='')
          i.fa.fa-bars
      li.hidden-xs
        a(href='login.html')
          i.fa.fa-sign-out
    form#search-form.navbar-form.pull-right(role='search')
      input.search-query(type='search', placeholder='Поиск...') 