doctype html
html
  head
    title Fly Maintenance
    link(href='css/application.min.css', rel='stylesheet')
    link(rel="stylesheet", href="css/style.css")
    link(rel='shortcut icon', href='img/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(charset='utf-8')
  body.background-dark
    .logo
      h4
        a(href='/')
          | Fly 
          strong Maintenance
          
    //- menu (common structure)
    include page-menu.jade

    .wrap
      //- top header (common structure)
      include page-header.jade

      .content.container
        .row
          .col-md-7
            section.widget
              header
                h4
                  i.fa.fa-file-alt
                  | Справочник сотрудников
              .body.clearfix
                .clearfix
                  blockquote.left Список всех сотрудников компании
                
                table#datatable-table.table.table-striped
                  thead
                    tr
                      th.no-sort Id
                      th ФИО
                      th.no-sort.hidden-phone-landscape  Возраст
                      th Специальность
                      th.hidden-phone-landscape Дата устройства
                      th Дата увольнения
                      th Изменить
                  tbody
                  
                    for empl in employees
                      tr
                        td #{empl.emp_id}
                        td
                          a(href="/single_person-page?employee_id=#{empl.emp_id}")
                            strong #{empl.emp_name}&nbsp; #{empl.emp_surname}
                        td
                          a(href='/peolple-page#')  #{empl.emp_age} лет
                        td.hidden-phone-landscape #{empl.emp_spec}
                        td.hidden-phone-landscape #{empl.get_date}
                        td #{empl.out_date}
                        td 
                          a(href="delete_worker?id=#{empl.emp_id}").btn.btn-primary.btn-sm Удалить
                a(href="/add_worker").btn.btn-primary.btn-sm.right Редактировать
          .col-md-5
            section.widget
              header
                h4
                  i.fa.fa-list-alt
                    &nbsp; Пользователи
              .body.clearfix
                .clearfix
                  blockquote.left Список всех пользователей ресурса
                  
                table.table.table-striped
                  thead
                    tr
                      th #
                      th Фамилия
                      th.hidden-xs-portrait Имя
                      th Email
                      th.hidden-xs-portrait Статус
                  tbody
                    for user in users
                        tr
                          td #{user.user_id}
                          td #{user.user_name}
                          td.hidden-xs-portrait #{user.user_surname}
                          td
                            a(href='tables_static.html#') #{user.user_email}
                          td.hidden-xs-portrait
                            span.badge.badge-success #{user.user_role}
                a(href="/add_user").btn.btn-primary.btn-sm.right Редактировать

          
      .loader-wrap.hiding.hide
        i.fa.fa-spinner.fa-spin
    // jquery and friends
    script(src='lib/jquery/jquery-2.0.3.min.js')
    script(src='lib/jquery-pjax/jquery.pjax.js')
    // jquery plugins
    script(src='lib/jquery-maskedinput/jquery.maskedinput.js')
    script(src='lib/parsley/parsley.js')
    script(src='lib/icheck.js/jquery.icheck.js')
    script(src='lib/select2.js')
    script(src='lib/jquery.dataTables.min.js')
    // backbone and friends
    script(src='lib/backbone/underscore-min.js')
    script(src='lib/backbone/backbone-min.js')
    script(src='lib/backbone/backbone-pageable.js')
    script(src='lib/backgrid/backgrid.js')
    script(src='lib/backgrid/backgrid-paginator.js')
    // bootstrap default plugins
    script(src='lib/bootstrap/transition.js')
    script(src='lib/bootstrap/collapse.js')
    script(src='lib/bootstrap/alert.js')
    script(src='lib/bootstrap/tooltip.js')
    script(src='lib/bootstrap/popover.js')
    script(src='lib/bootstrap/button.js')
    script(src='lib/bootstrap/dropdown.js')
    script(src='lib/bootstrap/modal.js')
    script(src='lib/bootstrap/tab.js')
    // basic application js
    script(src='js/app.js')
    script(src='js/settings.js')

    // page specific
    script(src='js/forms-elemets.js')

    script#settings-template(type='text/template').
      <div class="setting clearfix">
      <div>Background</div>
      <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% dark = background == 'dark'; light = background == 'light';%>
      <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
      <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar on the</div>
      <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% onRight = sidebar == 'right'%>
      <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
      <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar</div>
      <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% display = displaySidebar%>
      <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
      <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
      </div>
      </div>
    script#sidebar-settings-template(type='text/template').
      <% auto = sidebarState == 'auto'%>
      <% if (auto) {%>
      <button type="button"
      data-value="icons"
      class="btn-icons btn btn-transparent btn-sm">Icons</button>
      <button type="button"
      data-value="auto"
      class="btn-auto btn btn-transparent btn-sm">Auto</button>
      <%} else {%>
      <button type="button"
      data-value="auto"
      class="btn btn-transparent btn-sm">Auto</button>
      <% } %>
