doctype html
html
  head
    title Fly Maintenance
    link(href='css/application.min.css', rel='stylesheet')
    link(rel="stylesheet", href="css/style.css")
    link(rel='shortcut icon', href='img/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(charset='utf-8')
  body.background-dark
    .logo
      h4
        a(href='index.html')
          | Fly 
          strong Maintenance
    
    //- menu (common structure)
    include page-menu.jade

    .wrap
      //- top header (common structure)
      include page-header.jade

      .content.container
        .row
          .col-md-12.col-md-offset-0
            section.widget
              header
                h4
                  i.fa.fa-file-alt
                  | Справочник самолетов
              .body
                .clearfix
                  blockquote.left Список гражданских и военных самолетов
                  a(href="/admin_add_p_l").right.add_plane Добавить самолет 
                  a(href="/change_plane-gage").right.add_plane Редактировать существующий
                
                table#datatable-table.table.table-striped
                  thead
                    tr
                      th.no-sort.hidden-phone-landscape №
                      th Название самолета
                      th.no-sort Бортовой номер
                      th.hidden-phone-landscape Дата создания
                      th.hidden-phone-landscape Часы
                      th Кол-во посадок
                      th.hidden-phone-landscape статус
                  tbody
                  
                    for plane in planes
                      tr
                        td #{plane.plane_id}
                        td
                          a(href='/single_plane-page?plane_id=#{plane.plane_id}')
                            strong #{plane.plane_name}
                        td #{plane.plane_number}
                        td.hidden-phone-landscape #{plane.creation_date}
                        td.hidden-phone-landscape
                          small
                            strong В воздухе: 
                            | #{plane.air_time} часа
                          br
                          small
                            strong До след. проверки: 
                            | 13 часов
                          br
                          small
                            strong Начальный пробег: 
                            | #{plane.air_time} часов
                        td #{plane.landing_count}
                        td 
                          span.badge.badge-success #{plane.plane_status}
      .loader-wrap.hiding.hide
        i.fa.fa-spinner.fa-spin
        
    // jquery and friends
    script(src='lib/jquery/jquery-2.0.3.min.js')
    script(src='lib/jquery-pjax/jquery.pjax.js')
    // jquery plugins
    script(src='lib/jquery-maskedinput/jquery.maskedinput.js')
    script(src='lib/parsley/parsley.js')
    script(src='lib/icheck.js/jquery.icheck.js')
    script(src='lib/select2.js')
    script(src='lib/jquery.dataTables.min.js')
    // backbone and friends
    script(src='lib/backbone/underscore-min.js')
    script(src='lib/backbone/backbone-min.js')
    script(src='lib/backbone/backbone-pageable.js')
    script(src='lib/backgrid/backgrid.js')
    script(src='lib/backgrid/backgrid-paginator.js')
    // bootstrap default plugins
    script(src='lib/bootstrap/transition.js')
    script(src='lib/bootstrap/collapse.js')
    script(src='lib/bootstrap/alert.js')
    script(src='lib/bootstrap/tooltip.js')
    script(src='lib/bootstrap/popover.js')
    script(src='lib/bootstrap/button.js')
    script(src='lib/bootstrap/dropdown.js')
    script(src='lib/bootstrap/modal.js')
    script(src='lib/bootstrap/tab.js')
    // basic application js
    script(src='js/app.js')
    script(src='js/settings.js')
    // page-specific js
    script(src='js/tables-dynamic.js')
    
    script#settings-template(type='text/template').
      <div class="setting clearfix">
      <div>Background</div>
      <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% dark = background == 'dark'; light = background == 'light';%>
      <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
      <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar on the</div>
      <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% onRight = sidebar == 'right'%>
      <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
      <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar</div>
      <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% display = displaySidebar%>
      <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
      <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
      </div>
      </div>
    script#sidebar-settings-template(type='text/template').
      <% auto = sidebarState == 'auto'%>
      <% if (auto) {%>
      <button type="button"
      data-value="icons"
      class="btn-icons btn btn-transparent btn-sm">Icons</button>
      <button type="button"
      data-value="auto"
      class="btn-auto btn btn-transparent btn-sm">Auto</button>
      <%} else {%>
      <button type="button"
      data-value="auto"
      class="btn btn-transparent btn-sm">Auto</button>
      <% } %>