doctype html
html
  head
    title Light Blue - Admin Template
    link(href='css/application.min.css', rel='stylesheet')
    link(rel='shortcut icon', href='img/favicon.png')
    link(href="css/style.css", rel="stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(charset='utf-8')
    script(src='lib/jquery/jquery-2.0.3.min.js')
    script(src='lib/jquery-pjax/jquery.pjax.js')
    script(src='lib/backbone/underscore-min.js')
    script(src='js/settings.js')
  body
    .single-widget-container
      section.widget.login-widget
        header.text-align-center
          h4 Зарегестрироваться в систему<br>Fly Maintenance
        .body
          form.no-margin(action='registration', method='POST')
            fieldset
              .form-group.no-margin
                label(for='email')
                .input-group.input-group-lg
                  span.input-group-addon
                    i.eicon-user
                  input#email.form-control.input-lg(type='email', name="email", placeholder='Ваш Email')
              .form-group.no-margin
                label(for='pname')
                .input-group.input-group-lg
                  span.input-group-addon
                    i.eicon-user-add
                  input#pname.form-control.input-lg(type='text', name="pname", placeholder='Имя')
              .form-group.no-margin
                label(for='surname')
                .input-group.input-group-lg
                  span.input-group-addon
                    i.eicon-user
                  input#surname.form-control.input-lg(type='text', name="surname", placeholder='фамилия')
              .form-group.no-margin
                label(for='password')
                .input-group.input-group-lg
                  span.input-group-addon
                    i.fa.fa-lock
                  input#password.form-control.input-lg(type='password', name="pass", placeholder='Ваш пароль')
              .form-group
                label(for='rpassword')
                .input-group.input-group-lg
                  span.input-group-addon
                    i.fa.fa-unlock-alt
                  input#rpassword.form-control.input-lg(type='password', name="spass", placeholder='Повторите пароль')
            .form-actions
              button.btn.btn-block.btn-lg.btn-danger(type='submit')
                small регистрация
              .forgot
                a.forgot(href='/login')
                  | вход