doctype html
html
  head
    title Fly Maintenance
    link(href='css/application.min.css', rel='stylesheet')
    link(rel="stylesheet", href="css/style.css")
    link(rel='shortcut icon', href='img/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(charset='utf-8')
  body.background-dark
    .logo
      h4
        a(href='/')
          | Fly 
          strong Maintenance
    //- menu (common structure)
    include page-menu.jade

    .wrap
      //- top header (common structure)
      include page-header.jade
            
      .content.container
        .row
          .col-md-12
            section.widget
              header
                h4
                  i.fa.fa-user
                  |  Информация по самолету #{plane.plane_name}
                  small(style='text-transform: none;') Fly Maintenance
                a(href="/planes").right.add_plane все самолеты
              .body
                form#user-form.form-horizontal.label-left(novalidate='novalidate', method='post', data-validate='parsley')
                  .row
                    .col-md-8
                      .text-align-center
                        img.img-circle(src='img/15.jpg', alt='64x64', style='height: 112px;')
                    .col-md-4
                      for plane in plane
                        h3.no-margin #{plane.plane_name}
                        .widget
                          table(class="table table-striped")
                            tr
                              td  id
                              td  #{plane.plane_id}
                            tr
                              td   Серийный номер:
                              td  #{plane.plane_number}
                            tr
                              td  Дата создания:
                              td  #{plane.creation_date}
                            tr
                              td  Начальный пробег:
                              td  #{plane.air_time} (мин)
                            tr
                              td  Времени в воздухе: <br> 
                              for sum in sumh
                                td #{sum.hours} ч #{sum.minutes} мин
                            tr
                              td  Страна:
                              td  Россия
                            tr
                              td  Город:
                              td  Москва
                  .row
                    .col-md-12.col-md-offset-0
                      section.widget.widget-tabs
                        header
                          ul.nav.nav-tabs
                            li.active
                              a(href='/single_plane-page#stats', data-toggle='tab') История технического обслуживания
                            li
                              a(href='/single_plane-page#report', data-toggle='tab') Истрия логов пользования
                        .body.tab-content
                          #stats.tab-pane.active.clearfix
                            section
                              header
                                h4
                                  i.fa.fa-file-alt
                                  | История  технического обслуживания
                              div
                                .clearfix
                                  blockquote.left 
                                  a(href="/add_change-logs").right.add_plane добавить поле 
                                
                                table#datatable-table.table.table-striped
                                  thead
                                    tr
                                      th.no-sort №
                                      th.no-sort Бортовой номер
                                      th.no-sort. Сотрудники
                                      th Дата ремонта
                                      th Комментарий работника
                                      th Статус
                                  tbody
                                  
                                    for log in logs
                                      tr
                                        td #{log.log_id}
                                        td
                                          a(href='/logs#')  #{log.plane_number}
                                        td
                                          small #{log.pilot}
                                          br
                                          small #{log.s_pilot}
                                        td #{log.use_date}
                                        td.squawk #{log.squawk}
                                        td 
                                          span.badge.badge-success Решена
                          #report.tab-pane
                            section
                              header
                                h4
                                  i.fa.fa-file-alt
                                  | История логов пользования
                              div
                                .clearfix
                                  blockquote.left 
                                  a(href="/add_change-logs").right.add_plane добавить лог 
                                
                                table#datatable-table.table.table-striped
                                  thead
                                    tr
                                      th.no-sort №
                                      // th Название самоелта
                                      th.no-sort Бортовой номер
                                      th.no-sort. Пилоты
                                      th Дата пользования
                                      th Время пользования
                                      th Squawk
                                      th Статус
                                  tbody
                                  
                                    for log in logs
                                      tr
                                        td #{log.log_id}
                                        // td
                                          strong #{log.plane_name}
                                        td
                                          a(href='/logs#')  #{log.plane_number}
                                        td
                                          small
                                            strong Первый пилот: 
                                            | #{log.pilot}
                                          br
                                          small
                                            strong Второй пилот: 
                                            | #{log.s_pilot}
                                        td #{log.use_date}
                                        td #{log.use_time}  &nbsp; (мин)
                                        td.squawk #{log.squawk}
                                        td 
                                          span.badge.badge-success Решен
                                             
                                    
                                    
                                    
            
      .loader-wrap.hiding.hide
        i.fa.fa-spinner.fa-spin
    // jquery and friends
    script(src='lib/jquery/jquery-2.0.3.min.js')
    script(src='lib/jquery-pjax/jquery.pjax.js')
    // jquery plugins
    script(src='lib/jquery-maskedinput/jquery.maskedinput.js')
    script(src='lib/parsley/parsley.js')
    script(src='lib/icheck.js/jquery.icheck.js')
    script(src='lib/select2.js')
    script(src='lib/jquery.dataTables.min.js')
    
    script(src='lib/vendor/jquery.ui.widget.js')
    // The Templates plugin is included to render the upload/download listings
    script(src='lib/vendor/http_blueimp.github.io_JavaScript-Templates_js_tmpl.js')
    // The Load Image plugin is included for the preview images and image resizing functionality
    script(src='lib/vendor/http_blueimp.github.io_JavaScript-Load-Image_js_load-image.js')
    // The Canvas to Blob plugin is included for image resizing functionality
    script(src='lib/vendor/http_blueimp.github.io_JavaScript-Canvas-to-Blob_js_canvas-to-blob.js')
    // The Iframe Transport is required for browsers without support for XHR file uploads
    script(src='lib/jquery.iframe-transport.js')
    // The basic File Upload plugin
    script(src='lib/jquery.fileupload.js')
    // The File Upload file processing plugin
    script(src='lib/jquery.fileupload-fp.js')
    // The File Upload user interface plugin
    script(src='lib/jquery.fileupload-ui.js')

    // backbone and friends
    script(src='lib/backbone/underscore-min.js')
    script(src='lib/backbone/backbone-min.js')
    script(src='lib/backbone/backbone-pageable.js')
    script(src='lib/backgrid/backgrid.js')
    script(src='lib/backgrid/backgrid-paginator.js')
    // bootstrap default plugins
    script(src='lib/bootstrap/transition.js')
    script(src='lib/bootstrap/collapse.js')
    script(src='lib/bootstrap/alert.js')
    script(src='lib/bootstrap/tooltip.js')
    script(src='lib/bootstrap/popover.js')
    script(src='lib/bootstrap/button.js')
    script(src='lib/bootstrap/dropdown.js')
    script(src='lib/bootstrap/modal.js')
    script(src='lib/bootstrap/tab.js')
    // bootstrap custom plugins
    script(src='lib/bootstrap-datepicker.js')
    script(src='lib/bootstrap-select/bootstrap-select.js')
    script(src='lib/wysihtml5/wysihtml5-0.3.0_rc2.js')
    script(src='lib/bootstrap-wysihtml5/bootstrap-wysihtml5.js')
    // basic application js
    script(src='js/app.js')
    script(src='js/settings.js')

    // page specific
    script(src='js/forms-elemets.js')
    script(src='js/fileupload.js')
    
    
    script#template-upload(type='text/template').
      {% for (var i=0, file; file=o.files[i]; i++) { %}
      <tr class="template-upload fade">
      <td class="preview"><span class="fade"></span></td>
      <td class="name"><span>{%=file.name%}</span></td>
      <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
      {% if (file.error) { %}
      <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
      {% } else if (o.files.valid && !i) { %}
      <td>
      <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
      <div class="bar" style="width:0%;"></div>
      </div>
      </td>
      <td>{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary btn-sm start">
      <i class="fa fa-upload"></i>
      <span>Start</span>
      </button>
      {% } %}</td>
      {% } else { %}
      <td colspan="2"></td>
      {% } %}
      <td>{% if (!i) { %}
      <button class="btn btn-warning btn-sm cancel">
      <i class="fa fa-ban"></i>
      <span>Cancel</span>
      </button>
      {% } %}</td>
      </tr>
      {% } %}
    // The template to display files available for download
    script#template-download(type='text/template').
      {% for (var i=0, file; file=o.files[i]; i++) { %}
      <tr class="template-download fade">
      {% if (file.error) { %}
      <td></td>
      <td class="name"><span>{%=file.name%}</span></td>
      <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
      <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
      {% } else { %}
      <td class="preview">{% if (file.thumbnail_url) { %}
      <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
      {% } %}</td>
      <td class="name">
      <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
      </td>
      <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
      <td colspan="2"></td>
      {% } %}
      <td>
      <button class="btn btn-danger btn-sm delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
      <i class="fa fa-trash"></i>
      <span>Delete</span>
      </button>
      </td>
      </tr>
      {% } %}

    script#settings-template(type='text/template').
      <div class="setting clearfix">
      <div>Background</div>
      <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% dark = background == 'dark'; light = background == 'light';%>
      <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
      <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar on the</div>
      <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% onRight = sidebar == 'right'%>
      <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
      <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar</div>
      <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% display = displaySidebar%>
      <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
      <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
      </div>
      </div>
    script#sidebar-settings-template(type='text/template').
      <% auto = sidebarState == 'auto'%>
      <% if (auto) {%>
      <button type="button"
      data-value="icons"
      class="btn-icons btn btn-transparent btn-sm">Icons</button>
      <button type="button"
      data-value="auto"
      class="btn-auto btn btn-transparent btn-sm">Auto</button>
      <%} else {%>
      <button type="button"
      data-value="auto"
      class="btn btn-transparent btn-sm">Auto</button>
      <% } %>
