doctype html
html
  head
    title Fly Maintenance
    link(href='css/application.min.css', rel='stylesheet')
    link(rel="stylesheet", href="css/style.css")
    link(rel='shortcut icon', href='img/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(charset='utf-8')
  body.background-dark
    .logo
      h4
        a(href='/')
          | Fly 
          strong Maintenance

    //- menu (common structure)
    include page-menu.jade

    .wrap
      //- top header (common structure)
      include page-header.jade
      
            
      .content.container
        .row
          .col-md-7
            section.widget
              header
                h4
                  i.fa.fa-user
                  |  Профиль сотрудника 
                  small(style='text-transform: none;') Fly Maintenance
              .body
                form#user-form.form-horizontal.label-left(novalidate='novalidate', method='post', data-validate='parsley')
                  .row
                    .col-md-4
                      .text-align-center
                        img.img-circle(src='img/15.jpg', alt='64x64', style='height: 112px;')
                    .col-md-8
                      for emp in employees
                        h3.no-margin #{emp.emp_name} #{emp.emp_surname} #{emp.patronymic}
                        address
                          strong Специальность: 
                          a(href='') #{emp.emp_spec}
                          br
                          abbr Стаж: #{emp.emp_standing} лет
                          br
                          abbr Возраст: #{emp.emp_age} года
                          br
                          abbr Дата рождения: 
                          span 1960.12.01
                          br
                          abbr Страна: 
                          span #{emp.emp_country}
                          br
                          abbr Город: 
                          span #{emp.emp_town}
                          br
                          abbr(title='Рабочий email') Email:
                          a(href='mailto:#') #{emp.emp_email}
                          br
                          abbr(title='Работчий телефон') Телефон: 
                          span #{emp.emp_number}
                          br
                          abbr Дата принятия на работу: 
                          span #{emp.get_date}
                          br
                          abbr Дата увольнения: 
                          span #{emp.out_date}
                          br
                  fieldset
                    for emp in employees
                      legend.section
                        | Изменить профильные данные
                        button.btn.btn-primary.btn-xs.pull-right(type='button')
                          i.fa.fa-plus
                          |                                     изменить
                      .control-group
                        label.control-label(for='last-name')
                          | Фамилия 
                          span.required *
                        .controls.form-group
                          .col-sm-8
                            input#last-name.form-control(type='text', name='last-name', required='required', value="#{emp.emp_surname}")
                      .control-group
                        label.control-label(for='first-name')
                          | Имя 
                          span.required *
                        .controls.form-group
                          .col-sm-8
                            input#first-name.form-control(type='text', name='first-name', required='required', value='#{emp.emp_name}')
                      .control-group
                        label.control-label(for='middle-name') Отчество
                        .controls.form-group
                          .col-sm-8
                            input#middle-name.form-control(type='text', name='middle-name', value='#{emp.patronymic}')
                      .control-group
                        label.control-label Пол
                        .controls.form-group
                          #gender.btn-group(data-toggle='buttons')
                            label.btn.btn-default(data-toggle-class='btn-primary', data-toggle-passive-class='btn-default')
                              input(type='radio', name='gender', value='male')
                              |    Мужчина
                            label.btn.btn-primary.active(data-toggle-class='btn-primary', data-toggle-passive-class='btn-default')
                              input(type='radio', name='gender', value='female')
                              |  Женщина
                      .control-group
                        label.control-label(for='first-name')
                          | Дата рождения 
                          span.required *
                        .controls.form-group
                          .col-sm-6
                            input#first-name.form-control(type='text', name='first-name', required='required', placeholder='2016-12-31')
                      .control-group
                        label.control-label(for='first-name')
                          | Email 
                          span.required *
                        .controls.form-group
                          .col-sm-6
                            input#email.form-control(type='email', data-trigger='change', required='required', name='email', value="#{emp.emp_email}")
                      .control-group
                        label.control-label(for='first-name')
                          | Телефон 
                          span.required *
                        .controls.form-group
                          .col-sm-6
                            input#first-name.form-control(type='text', name='first-name', required='required', value="#{emp.emp_country}")
                      .control-group
                        label.control-label(for='country')
                          | Страна 
                          span.required *
                        .controls.form-group
                          select#country.col-xs-12.col-sm-6.chzn-select(required='required', data-placeholder='Выберите страну', name='country')
                            option(value='#{emp.emp_countryl}') #{emp.emp_countryl}
                            option(value='Russia') Таджикистан
                      .control-group
                        label.control-label(for='country')
                          | Город 
                          span.required *
                        .controls.form-group
                          select#country.col-xs-12.col-sm-6.chzn-select(required='required', data-placeholder='Выберите город', name='country')
                            option(value='#{emp.emp_town}') #{emp.emp_town}
                            option(value='Russia') Москва
                      .control-group
                        label.control-label(for='state')
                          | Специальность 
                          span.required *
                        .controls.form-group
                          select#state.col-xs-12.col-sm-6.chzn-select(data-placeholder='Выберите специальность', required='required', name='state')
                            option(value='#{emp.emp_spec}') #{emp.emp_spec}
                            option(value='AL') Пилот
                            option(value='AL') Мойщик полов
                      .control-group
                        label.control-label(for='first-name')
                          | Стаж 
                          span.required *
                        .controls.form-group
                          .col-sm-6
                            input#first-name.form-control(type='text', name='first-name', required='required', value="#{emp.emp_standing}")
                  .form-actions
                    button.btn.btn-primary(type='submit') Подтвердить
                    button.btn.btn-default(type='reset') Отмена
          .col-md-5
            section.widget
              header
                h4
                  i.fa.fa-cogs
                  |  Активность сотрудника
                .actions
                  // <button class="btn btn-xs btn-inverse"><i class="fa fa-arrow-down"></i> View more</button>
              .body
                section
                  header
                  .body
                    for emp in employees
                      #accordion3.panel-group
                        .panel
                          .panel-heading
                            a.accordion-toggle.collapsed(data-toggle='collapse', href='ui_accordion.html#collapseOneTwo')
                              | Образование:
                          #collapseOneTwo.panel-collapse.in.collapse
                            .panel-body
                              #{emp.emp_education}
                        .panel
                          .panel-heading
                            a.accordion-toggle(data-toggle='collapse', href='ui_accordion.html#collapseTwoTwo')
                              | Профессиональные навыки:
                          #collapseTwoTwo.panel-collapse.in.collapse
                            .panel-body
                              #{emp.emp_skills}
                        .panel
                          .panel-heading
                            a.accordion-toggle.collapsed(data-toggle='collapse', href='ui_accordion.html#collapseThreeTwo')
                              | Опыт работы:
                          #collapseThreeTwo.panel-collapse.in.collapse
                            .panel-body
                              #{emp.emp_exp}
            .row
              .col-md-12.col-md-offset-0
                section.widget
                  .body
                    form#fileupload(action='server/php', method='POST', enctype='multipart/form-data')
                      .row
                        .col-md-12
                          #dropzone.dropzone
                            | Перетащите файл сюда...
                            i.fa.fa-download-alt.pull-right
                      .row
                        .col-md-12.fileupload-progress.fade
                          // The global progress bar
                          .progress.progress-success.progress-striped.active(role='progressbar', aria-valuemin='0', aria-valuemax='100')
                            .bar(style='width:0%;')
                          // The extended global progress information
                          .progress-extended  
                      .form-actions.fileupload-buttonbar.no-margin
                        span.btn.btn-sm.btn-default.fileinput-button
                          i.fa.fa-plus
                          span Добавить файл...
                          input(type='file', name='files[]', multiple='')
                        button.btn.btn-primary.btn-sm.start(type='submit')
                          i.fa.fa-upload
                          span Начать загрузку
                        button.btn.btn-inverse.btn-sm.cancel(type='reset')
                          i.fa.fa-ban
                          span Отменить
                      .fileupload-loading
                        i.fa.fa-spin.fa-spinner
                      // The table listing the files available for upload/download
                      table.table.table-striped(role='presentation')
                        tbody.files(data-toggle='modal-gallery', data-target='#modal-gallery')

                            
      .loader-wrap.hiding.hide
        i.fa.fa-spinner.fa-spin
    // jquery and friends
    script(src='lib/jquery/jquery-2.0.3.min.js')
    script(src='lib/jquery-pjax/jquery.pjax.js')
    // jquery plugins
    script(src='lib/jquery-maskedinput/jquery.maskedinput.js')
    script(src='lib/parsley/parsley.js')
    script(src='lib/icheck.js/jquery.icheck.js')
    script(src='lib/select2.js')
    script(src='lib/jquery.dataTables.min.js')
    
    script(src='lib/vendor/jquery.ui.widget.js')
    // The Templates plugin is included to render the upload/download listings
    script(src='lib/vendor/http_blueimp.github.io_JavaScript-Templates_js_tmpl.js')
    // The Load Image plugin is included for the preview images and image resizing functionality
    script(src='lib/vendor/http_blueimp.github.io_JavaScript-Load-Image_js_load-image.js')
    // The Canvas to Blob plugin is included for image resizing functionality
    script(src='lib/vendor/http_blueimp.github.io_JavaScript-Canvas-to-Blob_js_canvas-to-blob.js')
    // The Iframe Transport is required for browsers without support for XHR file uploads
    script(src='lib/jquery.iframe-transport.js')
    // The basic File Upload plugin
    script(src='lib/jquery.fileupload.js')
    // The File Upload file processing plugin
    script(src='lib/jquery.fileupload-fp.js')
    // The File Upload user interface plugin
    script(src='lib/jquery.fileupload-ui.js')

    // backbone and friends
    script(src='lib/backbone/underscore-min.js')
    script(src='lib/backbone/backbone-min.js')
    script(src='lib/backbone/backbone-pageable.js')
    script(src='lib/backgrid/backgrid.js')
    script(src='lib/backgrid/backgrid-paginator.js')
    // bootstrap default plugins
    script(src='lib/bootstrap/transition.js')
    script(src='lib/bootstrap/collapse.js')
    script(src='lib/bootstrap/alert.js')
    script(src='lib/bootstrap/tooltip.js')
    script(src='lib/bootstrap/popover.js')
    script(src='lib/bootstrap/button.js')
    script(src='lib/bootstrap/dropdown.js')
    script(src='lib/bootstrap/modal.js')
    script(src='lib/bootstrap/tab.js')
    // bootstrap custom plugins
    script(src='lib/bootstrap-datepicker.js')
    script(src='lib/bootstrap-select/bootstrap-select.js')
    script(src='lib/wysihtml5/wysihtml5-0.3.0_rc2.js')
    script(src='lib/bootstrap-wysihtml5/bootstrap-wysihtml5.js')
    // basic application js
    script(src='js/app.js')
    script(src='js/settings.js')

    // page specific
    script(src='js/forms-elemets.js')
    script(src='js/fileupload.js')
    
    
    script#template-upload(type='text/template').
      {% for (var i=0, file; file=o.files[i]; i++) { %}
      <tr class="template-upload fade">
      <td class="preview"><span class="fade"></span></td>
      <td class="name"><span>{%=file.name%}</span></td>
      <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
      {% if (file.error) { %}
      <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
      {% } else if (o.files.valid && !i) { %}
      <td>
      <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
      <div class="bar" style="width:0%;"></div>
      </div>
      </td>
      <td>{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary btn-sm start">
      <i class="fa fa-upload"></i>
      <span>Start</span>
      </button>
      {% } %}</td>
      {% } else { %}
      <td colspan="2"></td>
      {% } %}
      <td>{% if (!i) { %}
      <button class="btn btn-warning btn-sm cancel">
      <i class="fa fa-ban"></i>
      <span>Cancel</span>
      </button>
      {% } %}</td>
      </tr>
      {% } %}
    // The template to display files available for download
    script#template-download(type='text/template').
      {% for (var i=0, file; file=o.files[i]; i++) { %}
      <tr class="template-download fade">
      {% if (file.error) { %}
      <td></td>
      <td class="name"><span>{%=file.name%}</span></td>
      <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
      <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
      {% } else { %}
      <td class="preview">{% if (file.thumbnail_url) { %}
      <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
      {% } %}</td>
      <td class="name">
      <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
      </td>
      <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
      <td colspan="2"></td>
      {% } %}
      <td>
      <button class="btn btn-danger btn-sm delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
      <i class="fa fa-trash"></i>
      <span>Delete</span>
      </button>
      </td>
      </tr>
      {% } %}

    script#settings-template(type='text/template').
      <div class="setting clearfix">
      <div>Background</div>
      <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% dark = background == 'dark'; light = background == 'light';%>
      <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
      <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar on the</div>
      <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% onRight = sidebar == 'right'%>
      <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
      <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar</div>
      <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% display = displaySidebar%>
      <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
      <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
      </div>
      </div>
    script#sidebar-settings-template(type='text/template').
      <% auto = sidebarState == 'auto'%>
      <% if (auto) {%>
      <button type="button"
      data-value="icons"
      class="btn-icons btn btn-transparent btn-sm">Icons</button>
      <button type="button"
      data-value="auto"
      class="btn-auto btn btn-transparent btn-sm">Auto</button>
      <%} else {%>
      <button type="button"
      data-value="auto"
      class="btn btn-transparent btn-sm">Auto</button>
      <% } %>
