
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }

.left { float:left; }
.right { float:right; }
/************************ ОБЩИЕ СТИЛИ ************************/

.center {
	margin: 100px auto;
	width: 960px;
}

.plane_table {
	width: 100%;
	padding: 10px;
    background: rgba(0,0,0,.4);
    color: #B2B4B5;
    margin-bottom: 20px;
}

.plane_table td {
    padding: 10px 25px;
    text-align: center;
}

.add_plane {
	color: rgb(248, 248, 248);
	padding: 5px 10px;
}
.add_plane input {
	flex-grow: 4;
	border: 1px solid #ccc;
	background: rgba(0,0,0,.4);
	/*margin-right: 10px;*/
	height: 30px;
	color: #B2B4B5;
	padding: 0 10px;
	margin-bottom :10px;
}
.add_plane .send_plane {
	margin-right: 0;
	cursor: pointer;
}
.add_plane .send_plane:hover {
	color: #fff;
	background: rgba(0,0,0,.6);
}


.button_404 {
	padding: 10px 10px;
	margin-top: 25px  !important;
	max-width: 150px;
}

.registr {
	text-decoration: none  !important;
	margin-left: 15px;
	color: #fff;
}

.squawk {
	max-width: 250px;
}


/*сттраница с отключенной базой данных*/
.db_is_not_conn {
	text-align: center;
	display: block;
	width: 100%;
	height: 100%;
	/*background: url(https://css-tricks.com/images/404.jpg) no-repeat center center;*/
}